body {
    background-color: rgb(0, 0, 60);
}

.box {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
}

#img {
    width: 700px;
    height: 500px;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 100px;
    animation: 1s animate linear;
}
@keyframes animate {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.box .btn {
    width: 50px;
    height: 50px;
    margin-top: 130px;
    border-radius: 50%;
    border: 3px solid white;
    background: transparent;
    color: white;
    font-size: 26px;
}
.disabled {
    opacity: 60%;
}