*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: linear-gradient(to right,  rgb(38, 38, 248), rgb(1, 1, 49) );
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
.box{
    width: fit-content;
    height: fit-content;
    /* border: 1px solid white; */
    margin-top: 250px;
    padding: 20px 25px;
    border-radius: 10px;
    background-color: aqua;
    box-shadow: 0px 0px 50px rgb(114, 230, 230);
    position: relative;
    /* transform: rotateX(150deg); */
}
.p h1{
    padding-top: 8px;
}
.box2{
    width: fit-content;
    height: fit-content;
    margin-top: 250px;
    padding: 20px 25px;
    border-radius: 10px;
    background: linear-gradient(to top,rgba(0, 255, 255, 0.914), rgba(0, 255, 255, 0.842), transparent);
    color: rgba(240, 240, 240, 0.914);
    position: absolute;
    margin-bottom: -195px;
    transform: rotateX(180deg);
    z-index: -11;
    opacity: 25%;
}
.p1 h1{
    padding-top: 8px;
}
.p1 p{
    color: rgba(223, 223, 223, 0.599);
}
