body{
    position: relative;
}
#box{
    width: 200px;
    height: 200px;
    background-color: skyblue;
    position: absolute;
}
#card{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
}
